
html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background: black;
	/*padding:10px;*/
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	background: #180404;
	width:100%;
	color: white;
	position:absolute;
	bottom:0;
	left:0;
	padding: 20px;
}



/*menu start*/

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
	position: absolute;
	z-index: 10;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/*menu end*/

.top-info{
	background-color: black;
	color: white;
	text-align: start;
	padding-left: 180px;
	padding-right: 180px;
	/*display: inline-flex;*/
}

.top-info a{
	color: white;
}

.top-info h6{
	display: inline-block;
}

.img-slider{
	background-color: #2aabd2;
	height: 400px;
	width: 100%;
}

.img-slider img{
	height: 100%;
	width: 100%;
	/*position: relative;*/
	/*overflow: hidden;*/
}

.pad{
	padding: 30px;
	overflow: hidden;
}

.product{
	height: 300px;
	width: 100%;
	background-size: cover;
}

.title{
	padding: 30px;
	text-align: center;
	font-family: "Adobe Arabic";
	font-size: 5em;
}


.stick{
	position: fixed !important;
	top: 0;
}


.overlay {
	position: absolute;
	bottom: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: darkgreen;
	overflow: hidden;
	height:0;
	transition: .6s ease;
	opacity: 0.9;

}

.overlay h5{
	text-align: center;
	line-height: 100px;
	color: white;
	font-size: 40px;
}

.overlay h5 span{
	font-size: 25px;
}

.product:hover .overlay {
	bottom: 0;
	height: 100%;
}

/*.product:hover img {*/
	/*-moz-transform: scale(1.1);*/
	/*-webkit-transform: scale(1.1);*/
	/*transform: scale(1.1);*/
/*}*/

.imgText {
	white-space: nowrap;
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.product-section{
	width: 100%;
	padding: 15px;
	display: block;
}

.best-seller div{
	display: table;
	height: 400px;
	padding: 15px;
}

.best-seller{
	/*background-color: snow;*/
	margin-top: 15px;
}

.best-seller div .title{
	font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
	font-style: normal;
	color: #404752;
	font-weight: 700;
	text-transform: none;
	font-size: 45px;
	line-height: 66px;
	display: table-cell;
	vertical-align: middle;;
}

.best-seller img{
	height: 100%;
	position: relative;
}

.featured{
	padding: 0px !important;
}

.featured img{
	height: 400px;
	width: 100%;
}

.social-media div{
	display: table-caption;
}

.social-media div .btn{
	width: 40px;
	border-radius: 0px;
}

.social-media{
	position: fixed;
	right: 0;
	top: 35%;
}

.footerDiv .btn{
	height: 100px;
	display: table;
}

.footerDiv .btn .fa{
	display: table-cell;
	vertical-align: middle;
	font-size: 50px;
}

.footerDiv{
	text-align: center;
}

.changeBtnDiv{
	right: 0px;
	position: absolute;
	margin-top: 15px;
	margin-right: 15px;
	z-index: 10;
}

.modal-header, .modal-footer{
	background-color: darkgreen;
	color: white;
}

.featured:hover{
	border: 1px solid black;
	cursor: pointer;
}